/.metadata/
/.jxbrowser-data/*
/EmbeddedDevelopment/.jxbrowser-data/*
EmbeddedDevelopment/.jxbrowser-data/*
EmbeddedDevelopment/.jxbrowser-data/*
EmbeddedDevelopment/TestingThreadsAndCommunication/Debug/*
EmbeddedDevelopment/rfConcentrator/Debug/*
/EmbeddedDevelopment/rfConcentrator/Binaries/*
