/.metadata/
/.jxbrowser-data/*
/EmbeddedDevelopment/.jxbrowser-data/*
EmbeddedDevelopment/.jxbrowser-data/*
EmbeddedDevelopment/.jxbrowser-data/*
EmbeddedDevelopment/TestingThreadsAndCommunication/Debug/*
EmbeddedDevelopment/rfNode/Debug/*
EmbeddedDevelopment/rfNode/Binaries/*
EmbeddedDevelopment/rfConcentrator/Binaries/*
EmbeddedDevelopment/rfConcentrator/Debug/*
NodeGraphics/.jxbrowser-data/*
NodeGraphics/ePaperDriver/Debug/*
